<ion-toolbar>
  <ion-title> Sign In </ion-title>
</ion-toolbar>

<ion-content class="ion-padding">
  <form>
    <!-- <ion-label>Log in</ion-label> -->
    <ion-img src="../../assets/cod.PNG" alt=""></ion-img>
    <br />
    <ion-label position="floating">Email</ion-label>
    <ion-item>
      <ion-input label="" fill="outline" placeholder=""></ion-input>
    </ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-item>
      <ion-input label="" fill="outline" placeholder=""></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Log in</ion-button><br />
    <div class="forgot-password">
      <a href="#">I forgot my Password?</a>
    </div>
  </form>
</ion-content>
