// ion-menu ion-content {
//   --padding-start: 8px;
//   --padding-end: 8px;
//   --padding-top: 20px;
//   --padding-bottom: 20px;

// }
ion-menu ion-list {
  //  padding: 20px ;
   background-color:black ;}
   
   ion-menu ion-content {
    max-width: 280px;
   --background: var(--ion-item-background, var(--ion-background-color, #000000));
  }
  
  // ion-list-header{
  //  color: rgb(199, 39, 39);
  // }
  ion-menu ion-content ion-list ion-item{
   --background: var(--ion-item-background, var(--ion-background-color, #000000));
   color: var(--ion-color-dark-tint);
  }
  
  ion-menu ion-item.selected ion-icon {
   color: var(--ion-color-primary-contrast);
  }
  
  ion-footer{
   
   position: fixed;
   bottom: 0;
   background-color: black;
   max-width: 270px;
  //  padding: 10px;
   height: 80px;
   max-height: 80px;
   color: grey;
  }
  
  ion-menu ion-item.selected {
    --background: rgba(var(--ion-color-primary-contrast), 0.14);
    --color: var(--ion-color-primary-contrast);
  }
   ion-menu ion-item.selected ion-icon,
   ion-menu ion-item.selected ion-label {
     color: var(--ion-color-primary-contrast);
     
   }
   ion-menu ion-item:hover{
    --background: rgba(var(--ion-color-primary-contrast), 0.14) !important;
    ion-icon, ion-label {
     color: var(--ion-color-primary-contrast);
    }
   }
   ion-icon{
    color: grey;
   }
   ion-list-header{
    color: white;
   }
   ion-note{
    color: white;
   }
   a:active {
    color: white;
  }